<footer>
  <br/>
  <div class="pb-2" id="team">
    <div class="justify-content-center col-12 align-items-center">
      <div class="col-12 justify-content-md-between text-center">
                <span class="row">
                  <span class="col-md-3 col-sm-12">
                    Dave Saenen
                  </span>
                  <span class="col-md-3 col-sm-12">
                    Dries Laeremans
                  </span>
                  <span class="col-md-3 col-sm-12">
                    Lise Van Eyck
                  </span>
                  <span class="col-md-3 col-sm-12">
                    Stef Schoeters
                  </span>
                </span>
      </div>
    </div>
  </div>
  <div class="pb-2" id="teamnaam">
    <div class="justify-content-center col-12 align-items-center">
      <div class="col-12 justify-content-md-between text-center">
                <span class="row">
                  <h4 class="col-12">
                    Team ii
                  </h4>
                </span>
      </div>
    </div>
  </div>
</footer>
