<div *ngIf="taak">
  <h4>{{ taak.title }}</h4>
  <h6 class="card-subtitle mb-2 text-muted">{{ taak.points }} punten te verdienen</h6>
  <form #form>
    <div class="form-group">
      <label for="description">Beschrijf wat je gedaan hebt</label>
      <textarea class="form-control" id="description" rows="3" name="description" #description="ngModel" [(ngModel)]="taak.description"></textarea>
    </div>
    <button type="submit" (click)="taakToevoegen(description.value)" class="btn btn-outline-secondary btn-orange col-12">Opdracht toevoegen</button>
  </form>
</div>

