<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" routerLink="/home">
    <img src="../../assets/images/logo-stack.png" class="img-fluid"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed" (click)="isCollapsed = !isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/opdrachten" routerLinkActive="active">Opdrachten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/winkel" routerLinkActive="active">Winkel</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <span class="navbar-text d-sm-none d-md-block" *ngIf="user">
        {{ user.name }}
        <span class="badge badge-pill">({{user.punten}} ptn.)</span>
      </span>
      <li class="nav-item" *ngIf="!user">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" routerLink="/login" (click)="authService.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
