<div class="row">
  <div class="col-12">
    <h4>Overzicht van alle opdrachten</h4>
  </div>
  <br/>
  <div class="col-md-4 list-group">
    <a href="" class="list-group-item list-group-item-action">
      Blogpost schrijven
      <span class="badge badge-primary badge-pill float-right">1</span>
    </a>
    <a href="" class="list-group-item list-group-item-action">
      Presentatie geven
      <span class="badge badge-primary badge-pill float-right">5</span>
    </a>
    <a href="" class="list-group-item list-group-item-action">
      Nieuwe technologie onderzoeken
      <span class="badge badge-primary badge-pill float-right">10</span>
    </a>
    <a href="" class="list-group-item list-group-item-action">
      Bijwonen van een conferentie
      <span class="badge badge-primary badge-pill float-right">10</span>
    </a>
    <a href="" class="list-group-item list-group-item-action">
      Naar een meetup gaan
      <span class="badge badge-primary badge-pill float-right">5</span>
    </a>
  </div>
  <div class="col-md-8">
    <br/>
    <form>
      <div class="form-group">
        <label for="omschrijving">Beschrijf wat je gedaan hebt</label>
        <textarea class="form-control" id="omschrijving" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-secondary btn-orange col-12">Verzenden</button>
    </form>
  </div>
</div>

