<div class="row">
  <div class="col-12" *ngFor="let list of (taskLijst$ | async)">
    <div class="card">
      <div class="card-header">
        {{list.user}}
      </div>
      <ul class="list-group list-group-item-danger" style="margin-bottom: 10px">
        <div *ngFor="let taak of list.tasks[0]">
            <li class="list-group-item justify-content-between" *ngIf="taak.accepted === false">
              <span>{{taak.title}}</span>
              <span>{{taak.description}}</span>
              <span> voor {{taak.points}} punten</span>
              <br>
              <button type="submit" (click)="taskGoedkeuren(taak._id)" class="btn btn-outline-secondary btn-orange">Goedkeuren</button>
            </li>
        </div>
      </ul>
    </div>
  </div>
</div>
