<div class="row">
  <div class="col-12">
      <h1>Punten: 10</h1>
      <div class="col-12">
        <div class="row">

          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/images/reward_beer.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Een bak bier</h5>
                  <h6 class="card-subtitle mb-2 text-muted">15 punten</h6>
                  <p class="card-text">Voor 15 punten kan je een bak bier kopen van het merk Jupiler.</p>
                  <a (click)="koop()" href="winkel" class="btn btn-primary">Punten inwisselen</a>
                </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/reward_discount.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Een kortingsbon</h5>
              <h6 class="card-subtitle mb-2 text-muted">25 punten</h6>
              <p class="card-text">Voor 25 punten kan je een kortingsbon voor bol.com kopen.</p>
              <a (click)="koop()" href="winkel" class="btn btn-primary">Punten inwisselen</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/reward_champagne.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Een fles champagne</h5>
                <h6 class="card-subtitle mb-2 text-muted">30 punten</h6>
                <p class="card-text">Voor 30 punten kan je een fles champagne kopen.</p>
                <a (click)="koop()" href="winkel" class="btn btn-primary">Punten inwisselen</a>
              </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/reward_vacation.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Een vakantie naar Aruba</h5>
              <h6 class="card-subtitle mb-2 text-muted">3000 punten</h6>
              <p class="card-text">Voor 3000 punten kan je op vakantie naar Aruba, Venezuela.</p>
              <a (click)="koop()" href="winkel" class="btn btn-primary">Punten inwisselen</a>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Een vakantie naar Aruba</h5>
              <h6 class="card-subtitle mb-2 text-muted">3000 punten</h6>
              <p class="card-text">Voor 3000 punten kan je op vakantie naar Aruba, Venezuela.</p>
              <a (click)="koop()" href="winkel" class="btn btn-primary">Punten inwisselen</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Een vakantie naar Aruba</h5>
              <h6 class="card-subtitle mb-2 text-muted">3000 punten</h6>
              <p class="card-text">Voor 3000 punten kan je op vakantie naar Aruba, Venezuela.</p>
              <a (click)="koop()" href="winkel" class="btn btn-primary">Punten inwisselen</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Een vakantie naar Aruba</h5>
              <h6 class="card-subtitle mb-2 text-muted">3000 punten</h6>
              <p class="card-text">Voor 3000 punten kan je op vakantie naar Aruba, Venezuela.</p>
              <a (click)="koop()" href="winkel" class="btn btn-primary">Punten inwisselen</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Een vakantie naar Aruba</h5>
              <h6 class="card-subtitle mb-2 text-muted">3000 punten</h6>
              <p class="card-text">Voor 3000 punten kan je op vakantie naar Aruba, Venezuela.</p>
              <a (click)="koop()" href="winkel" class="btn btn-primary">Punten inwisselen</a>
            </div>
          </div>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
