<div class="row">
  <div class="col-12">
      <h1>Punten: 10</h1>
      <div class="col-12">
        <div class="row">
          <div class="card" *ngFor="let reward of (rewards$ | async)" style="width: 18rem;">
            <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{reward.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{reward.points}} punten</h6>
              <p class="card-text">{{reward.description}}</p>
              <a (click)="open(content)" class="btn btn-orange">Punten inwisselen</a>
              <a (click)="addTarget(reward._id)" class="btn btn-orange">Instellen als target</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Punten inwisselen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <p>Ben je zeker dat je je punten wilt inzetten?</p>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('clicked wissel')">Wissel</button>
    </div>
  </ng-template>
  <pre>{{closeResult}}</pre>
  </div>
