<div class="row">
    <div class="col-sm-12 col-md-6" *ngFor="let list of (rewardLijst$ | async)">
      <div class="card">
        <div class="card-header">
          {{list.user}}
        </div>
        <ul class="list-group">
          <div *ngFor="let reward of list.rewards[0]">
              <li class="list-group-item" *ngIf="reward.accepted === false">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="mr-2">{{reward.title}}</div>
                  <div class="flex-fill">{{reward.description}} ({{reward.points}} punten)</div>
                  <div class="ml-1">
                    <a href="javascript:void(0)" (click)="rewardGoedkeuren(reward._id)">Bezorgd</a>
                  </div>
                </div>
              </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
