// Overschrijf BS variabelen en mixins
$theme-colors: (
  'primary': #009CAB,
  'danger': #F04C25,
  'salmon' : salmon
);

// Link naar BS en FA
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Eigen code/partials
body {
  background-color: #f4f4f4;
}

.container {
  background-color: #ffffff;
  max-width: 1300px;
}

.navbar-brand img {
  max-width: 150px;
}

.icon-bar {
  width: 22px;
  height: 2px;
  margin: 3px 0 2px;
  display: block;
  background: #000;
}

.active {
  border-bottom: 2px solid #F49900;
}

.btn-orange {
  border: none;
  color: #F49900;
}

.btn-orange:hover {
  border: none;
  background-color: #F49900;
  color: #FFF;
}

.badge {
  background-color: #F49900;
}


