// Overschrijf BS variabelen en mixins
$theme-colors: (
  'primary': #009CAB,
  'danger': #F04C25,
  'salmon' : salmon
);

// Link naar BS en FA
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Eigen code/partials
body {
  background-color: #f4f4f4;
}

.container {
  background-color: #ffffff;
  max-width: 1300px;
}

.navbar-brand img {
  max-width: 150px;
}

.icon-bar {
  width: 22px;
  height: 2px;
  margin: 3px 0 2px;
  display: block;
  background: #000;
}

.active {
  border-bottom: 2px solid #F49900;
}

.btn-orange {
  border: none;
  color: #F49900;
}

.btn-orange:hover {
  border: none;
  background-color: #F49900;
  color: #FFF;
}

.badge {
  background-color: #F49900;
  color: #FFF;
}

.progress{
  height: 25px;
  margin: 5px;
}

//#pagefooter {
//  background-color: #F49900;
//  color: #FFF;
//  padding-top: 5px;
//  padding-left: 0;
//  padding-right: 0;
//}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #08ACE1;
  border-right: 16px solid #71B643;
  border-bottom: 16px solid #F49900;
  border-left: 16px solid #333E47;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
