
<div class="row">
  <div class="col-12">
    <app-target [userPunten]="user.punten"></app-target>
  </div>
</div>

  <div class="row" >
    <div class="col-sm-12 col-lg-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Uitgevoerde opdrachten
        </li>
        <li class="list-group-item" *ngFor="let feed of (takenfeed$ | async)">
          {{feed.text}}
        </li>
      </ul>
    </div>
    <div class="col-12 d-lg-none">
      <br>
      <hr/>
      <br>
    </div>
    <div class="col-sm-12 col-lg-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Opgenomen rewards
        </li>
        <li class="list-group-item" *ngFor="let feed of (rewardFeed$ | async)">
          {{feed.text}}
        </li>
      </ul>
    </div>
  </div>

